/* место для вашего кода */
.header {
  padding: 91px 49px 90px 51px;
}

.header__nav {
  align-items: center;
  gap: 10px;
  min-height: 109px;
}

.site-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 18px;
}

.header__user-nav {
  justify-content: flex-start;
  gap: 13.5px;
  min-width: 388px;
  line-height: 22px;
}

.user-nav__list {
  display: flex;
  text-transform: lowercase;
}

.user-nav__item {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.header__user-nav .user-nav__item:not(:first-child):before {
  content: "";
  width: 7px;
  height: 7px;
  margin-top: 4px;
  border: 1px solid black;
  border-radius: 50%;
  align-self: center;
}

.user-nav__link {
  border-bottom: 1px solid black;
}

.user-nav__link--active {
  border-bottom: none;
}

.site-nav__logo {
  padding-top: 1px;
}

.header__contacts {
  margin-left: auto;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  min-width: 240px;

  line-height: 24.3px;
}

.contacts__tel,
.contacts__mail {
  text-decoration: underline;
  text-underline-position: under;
}

.contacts__address {
  font-style: normal;
  padding-bottom: 1px;
}

.main {
  flex-grow: 1;
}

.main__cover {
  background: url(../images/cover.jpg) no-repeat center;
  background-size: 1440px 758px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 78px;
  min-height: 758px;
  padding: 165px 50px 50px;
  font-size: 22px;
  text-transform: uppercase;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.main__header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 19px;
  flex-basis: 100%;
  flex-grow: 1;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.main__header-word {
  display: flex;
  letter-spacing: 30px;
}

.main__header-word:nth-child(3n + 1) {
  align-self: flex-start;
  line-height: 117px;
}

.main__header-word:nth-child(3n + 2) {
  align-self: center;
  padding-right: 29px;
}

.main__header-word:nth-child(3n) {
  align-self: flex-end;
  margin-right: -30px;
}

.main__header-isolated-letter {
  margin-left: 30px;
}

.cover__text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 633px;
  min-height: 52px;
  align-self: flex-end;
  line-height: 28px;
  word-spacing: 17.5px;
}

.cover__button {
  align-self: flex-end;
}

.button {
  width: 257px;
  min-height: 52px;
  color: inherit;
  background-color: transparent;
  border: 1px solid white;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  cursor: pointer;
}

.main__lots {
  padding: 140px 50px 61px;
}

.lots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__section-header {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.lots__header {
  padding: 40px 40px 27px;
}

.lots__list {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
}

.lots__item {
  flex-basis: 430px;
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  color: white;
  flex-grow: 1;
}

.background-tomas-anderson-film {
  background-image: url(../images/card-lot-01.jpg);
}

.background-one-boring-day {
  background-image: url(../images/card-lot-02.jpg);
}

.background-painting-by-kandinsky {
  background-image: url(../images/card-lot-03.jpg);
}

.lot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
}

.lot__header {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
}

.lot__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__link-to-all {
  margin: 30px 40px;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  border-bottom: 1px solid black;
}

.main__about {
  padding: 90px 50px;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.about__info {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 885px;
}

.about__header {
  margin: 101px 0 75px;
}

.about__text {
  font-size: 20px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
  order: -1;
  width: 240px;
  height: 240px;
  margin: -1px 95px 0;
  border-radius: 50%;
  background-color: black;
}

.logo__img {
  margin: auto;
}

.footer {
  padding: 90px 50px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding-top: 3px;
  font-size: 18px;
}

.footer__user-nav {
  flex-direction: column;
  align-items: center;
}

.social-network__list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-left: auto;
}
